.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 16px;
    width: 100%;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-icon {
    font-size: 24px;
    margin-right: 8px;
  }

  
  @media (max-width: 480px) {
    .toolbar h1{
      font-size: 20px;
    }
  }