.side-menu {
  height:100vh;
  min-height: 100%;
  background-color: #3c4b64;
  /* padding: 16px; */
  transition: all 0.3s ease-in-out;
  
}

.side-menu h3 {
  color: #eee;
  font-size: 18px;
  margin-top: 30px;
  text-transform: uppercase;
  padding-left: 5px;
}

.side-menu ul {
  list-style: none;
  padding-left: 0;
}

.side-menu ul li {
  margin: 2px 0;
}

.side-menu ul li a {
  color: #eee;
  background: #506484;
  padding: 5px;
  display: block;
  border-radius: 5px;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.side-menu ul li a:hover {
  background: #262f3e;
}

.side-menu ul li a span {
  vertical-align: text-top;
  margin-left: 5px;
}

.side-menu button {
  margin-top: 50px;
  display: block;
  width: 100%;
  padding: 5px;
  color: #eee;
  background: #627a9e;
  border: none;
}

.open {
  transform: translateX(0);
  width: 15%;
}

.closed {
  transform: translateX(0);
  width: 3%;
}

.menu-toggle {
  text-align: right;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu-toggle svg {
  fill: #fff;
}

.closed ul,
.closed button {
  transform: translateX(-100px);
}


.mobile-bottom-menu {
  display: none;
}




@media (max-width: 480px) {
  .side-menu{
    display: none;
  }

  .mobile-bottom-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3c4b64;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mobile-bottom-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .mobile-bottom-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  
  .mobile-bottom-menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #DDD;
    font-size: 12px;
  }
  
  .mobile-bottom-menu li a span {
    margin-top: 5px;
  }
}
