*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

body{
  background-image: url(../src/assets/imgs/bg4.png);
  background-size: cover;
}

img{
  max-width: 100%;
}

a,button{
  cursor:pointer
}

label{
  display: block;
}

input, select, textarea{
  padding: 5px;
  width: 100%;
  font-size: 18px;
  resize: none;
  border-radius: 5px;
  border: 1px solid #c7c7c7;
}